
body{
    background-color: rgb(142, 142, 152);
    color: white;
}

.mini-titre{
list-style: none;
display: flex;
gap: 70px;
text-decoration: none;
color: white;
font-weight: bold;
text-transform: uppercase;
transition: all 0.3s;
align-items: center;
cursor: pointer;
list-style: none;
font-size: 15px;
border: 8px white;
}
.mini-titre a {
  padding: 1% ;
 border-radius: 5px;
  size: 50px;
 box-shadow : 4PX 4px 12px white, -4px -4px 12px white
  
}
.mini-titre a :hover{
  border: 10px solid;
  border-radius: 10px;
}