
body{
     background-color: #121212;
         color: white;
              display: flex;
                 justify-content: center;
                  align-items: center;
                     height: 90vh;
                         margin: 0%;
                            border: none ;
}
.login-logo{
 width: 12%;
      position: absolute;
         right: 44%;
              margin-top: -200px;;
}
.button2{
    border-radius: 5%;
         padding: 1%;
    border: #121212;
       cursor: pointer; ;
}
.button2:hover{
     transform: translateY(2px);
         box-shadow: 1px  rgba(0, 0, 0, 0.2);
}
.button3{
     padding: 1%;
         border-radius: 5%;
         border: #121212;
              cursor: pointer; 
}
.button3:hover{
    transform: translateY(2px);
         box-shadow: 1px  rgba(0, 0, 0, 0.2);
}
.contenair1{
    position: absolute;
          right: 46%;
             margin-top: 20px;
                 text-align: center;
}
.contenair{
    display: flex;
         align-items: center;
             margin-top: 35px;
}

